
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* Admin Sidebar */

.admin-sidebar {
    position: absolute;
    top: 100;
    left: 0;
    margin-left: -10px;
    width: 250px;
    padding-bottom: 15px;

    .panel-body {
        padding-bottom: 0px;
    }

    a.btn.btn-primary {
        width: 75%;
    }
}

/* Roles */

.roles-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;

    h3 {
        margin: 0;
    }
}

.roles-table {
    tbody tr th {
        border-top: none;
    }
    td {
        border-top: none;
    }
}

.role-actions {
    display: flex;
    justify-content: flex-end;

    .role-delete-btn {
    margin-left: 5px;
    }
}

/* Create Role */

.permission-checkbox {
    box-shadow: none!important;
    display: flex;
    justify-content: flex-start;

    input {
        max-width: 30%;
        margin-right: 10px;
    }
}

#map {
    height: 100%;
}

#locationField, #controls {
        position: relative;
        width: 480px;
      }
      #autocomplete {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 99%;
      }
      .label {
        text-align: right;
        font-weight: bold;
        width: 100px;
        color: #303030;
      }
      #address {
        border: 1px solid #000090;
        background-color: #f0f0ff;
        width: 480px;
        padding-right: 2px;
      }
      #address td {
        font-size: 10pt;
      }
      .field {
        width: 99%;
      }
      .slimField {
        width: 80px;
      }
      .wideField {
        width: 200px;
      }
      #locationField {
        height: 20px;
        margin-bottom: 2px;
      }