
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Includes
@import "global";
@import "navbar";
@import "forms";
@import "footer";
@import "dashboard";


/* Roles */

.roles-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;

    h3 {
        margin: 0;
    }
}

.roles-table {
    tbody tr th {
        border-top: none;
    }
    td {
        border-top: none;
    }
}

.role-actions {
    display: flex;
    justify-content: flex-end;

    .role-delete-btn {
    margin-left: 5px;
    }
}

/* Create Role */

.permission-checkbox {
    box-shadow: none!important;
    display: flex;
    justify-content: flex-start;

    input {
        max-width: 30%;
        margin-right: 10px;
    }
}